html {
  font-family: sans-serif;
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    rgb(42, 192, 144) 50%,
    rgb(192, 150, 54) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 2vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: monospace;
  font-size: 2.5rem;
}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
}

label {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 1.2rem;
  padding: 0.7rem;
}

input {
  text-align: center;
  border: none;
  height: 2rem;
  border-radius: 15px;
  margin: 1rem;
}

.guessSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: #111827;
  box-shadow: inset 20px 20px 39px #070a18, inset -20px -20px 39px #1b263e;
  position: relative;
  cursor: pointer;
}

.guessSubmit::after {
  content: '';
  position: absolute;
  left: -10px;
  top: -10px;
  height: calc(100% + 20px);
  width: calc(100% + 20px);
  background: linear-gradient(35deg, deepskyblue, deeppink, lawngreen);
  border-radius: 50%;
  z-index: -1;
  filter: blur(3px);
  margin: auto;
  padding: auto;
}

.guessSubmit:hover::after {
  animation: rotate 1s linear infinite;
}

.reload {
  margin: 1rem;
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}
.reload:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}
.reload:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
